@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Noto Sans KR', sans-serif;

}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navigation-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.navigation-section ul {
  display: flex;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0px 20px;
}

.navigation-section ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #222;
  border: 2px solid #333;
  margin: 2px;
  border-radius: 3px;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.navigation-menu li {
  width: 100%;
  text-align: center;
  background-color: #222;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.navigation-menu li:hover {
  background-color: #444;
}

.navigation-menu li:hover .navigation-child {
  display: block;
}

.navigation-child {
  display: none;
  top: 100%;
  position: absolute;
  width: 100%;
  background-color: #222;
  border: 2px solid #333;
  z-index: 20;
}

.navigation-child>div {
  padding: 12px 0px;
  font-weight: 600;
  border-bottom: 2px solid #333;
}

.navigation-child>div:last-child {
  border: none;
}

.page-title {
  font-weight: 600;
  font-size: 25px;
}

.category-btn {
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
}

.category-input {
  border-radius: 2px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 15px;
}

.trans-table tr {
  height: 60px;
}

.app-table {
  width: 100%;
}

.app-table thead tr {
  background-color: #333 !important;
}

.app-table thead th {
  padding: 10px 0px;

}

.app-table tbody td {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
}

.app-table tbody tr {
  background-color: #2222;
}

.app-table tbody tr:nth-child(even) {
  background-color: #222;
}


/* Pagination Style */

.bg-level-1,
.bg-level-2,
.bg-level-3,
.bg-level-4,
.bg-level-5,
.bg-level-6,
.bg-level-7,
.bg-level-8,
.bg-level-9,
.bg-level-10 {
  background: url('/images/seda-level.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px;
}



/* level sprite */

.bg-level-1 {
  width: 12px;
  height: 12px;
  background-position: -10px -10px;
}

.bg-level-2 {
  width: 12px;
  height: 12px;
  background-position: -42px -10px;
}

.bg-level-3 {
  width: 12px;
  height: 12px;
  background-position: -10px -42px;
}

.bg-level-4 {
  width: 12px;
  height: 12px;
  background-position: -42px -42px;
}

.bg-level-5 {
  width: 12px;
  height: 12px;
  background-position: -74px -10px;
}

.bg-level-6 {
  width: 12px;
  height: 12px;
  background-position: -74px -42px;
}

.bg-level-7 {
  width: 12px;
  height: 12px;
  background-position: -10px -74px;
}

.bg-level-8 {
  width: 12px;
  height: 12px;
  background-position: -42px -74px;
}

.bg-level-9 {
  width: 12px;
  height: 12px;
  background-position: -74px -74px;
}

.bg-level-10 {
  width: 12px;
  height: 12px;
  background-position: -106px -10px;
}

/* end */


/* Option Modal Button */

.option-modal-btn {
  background-color: #b56d00;
  border-radius: 2px;
  width: 100px;
  padding: 4px;
  font-size: 12px;
  margin: auto;

}

.member-float-box {
  position: absolute;
  background: #222;
  border: 2px solid #777;
  left: 100%;
  padding: 7px;
  top: 0;

}


.member-float-box .data-information {
  width: 100%;
  border: 2px solid #4444;
  font-size: 12px;
}

.member-float-box .data-information th {
  background: #4444;
  width: 40%;
  border: 2px solid #555;
}

.member-float-box .data-information td {
  font-size: 12px;
  border: 2px solid #555;
}


/* Pagination Styles */


.web-pagination {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.web-pagination ul {
  list-style: none;
  display: flex;
  font-weight: 600;
  padding: 0;
}

.web-pagination ul li a {
  padding: 5px 15px;
  background: #222;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

.web-pagination ul li a:hover {
  background: #636363;
  transition: all 0.5s;
}

.web-pagination .selected a {
  background: #636363;
}



/* Partner Style */

.partner-type-badge {
  display: flex;
}

.partner-type-badge li:nth-child(odd) {
  background-color: #222;
  padding: 1px 5px;
  font-size: 12px;
  margin: 0px 5px;
  border: 2px solid #8888;
  border-radius: 5px;
}


/* Indicator Style */

.indicator-display {
  width: 100%;
  background-color: #222;
  text-align: center;
  padding: 10px 5px;
  border: 3px solid #4444;
  border-radius: 5px;
  font-weight: 600;
}


/* Progress bar style */

progress {
  overflow: hidden;
  border-radius: 10px;
}


#pr-1[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #09c);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#pr-2[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #f44, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#pr-3[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, rgb(12, 214, 23), rgb(12, 214, 23));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.PointsModal {
  width: 500px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  z-index: 170;
  background-color: #0d0d0d;
  padding: 50px 20px;
  top: 50%;
  border-radius: 5px;
  border: 3px solid #333;
  text-align: center;
  font-weight: 600;
}